body{
    font-family: 'Courier New', Courier, monospace ;
    text-align: center;
}

#board {
   /* background-color: skyblue;*/
   width: 360px;
   height: 640px;
   background-image:url("./flappy.png");
   background-size: cover;

}